{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
    <ul>
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
    </ul>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
 {{- $page := .page }}
 {{- range .menuEntries }}
   {{ $banned := in site.Params.ignoredMenuTypes .Identifier }}
    {{- if not $banned }}
               <li>
                 <a
                   href="{{ .URL }}"
                   title="{{ .Title }}"
                   {{- if $page.IsMenuCurrent .Menu . }}
                     aria-current="page"
                   {{- end }}>
                   {{ or (T .Identifier) .Name }}
                   {{ if .HasChildren }}
                     <span class="caret"></span>
                   {{ end }}
                 </a>
                 {{ with .Children }}
                   <ul>
                     {{ partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
                   </ul>
                 {{ end }}
               </li>
        {{- end }}
 {{- end }}
{{- end }}
