@import "varibles.scss";
@import "normalize.scss";
@import "menu.scss";
@import "list.scss";
@import "TAIform.scss";

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    background-color: $theme-color;
    //TODO fix line breaking
    //TODO confirm font families look okay on all platforms
    font-family: system-ui, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica", Arial, sans-serif; 
    text-rendering: optimizeLegibility;
    //line-height: 1.5rem;
    font-size: 1.15rem;
}

hr {
    max-width: 95%;
}

.container {
    background-color: $background-color;
    color: $text-color;
    padding: 0.5em;
    margin: 1em;
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.4rem;
}

.body-container {
    margin: 2em;
    display: grid;
    column-gap: 2em;
    grid-template-columns: auto $column-width;

    h1 {
        color: darken($color: $text-color, $amount: 10);
        text-align: center;
    }

    h2,h3,h4,h5,h6 {
        color: lighten($color: $title-color, $amount: 20);
    }
}

.title-span {
    border-bottom: 3px solid darken($color: $text-color, $amount: 10);
    line-height: 1.5;
}

.content {
    grid-column: 1;
    max-width: $content-width;
    line-height: 1.2;
    overflow-wrap: break-word;
    h2,h3,h4,h5,h6 {
        overflow-wrap: break-word;
    }
    img {
        display: block;
        padding: 0.25rem;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .highlight {
        overflow-x: scroll;
        white-space: nowrap;
        width: 75vw;
        max-width: $content-width - 25px;
        pre {
            display: inline-block;
        }
    }
} 

.side-menu {
    grid-column: 2;
    max-width: $column-width;

    h3 span {
        color: $title-color;
        font-weight: 400;
        border-bottom: 0.2rem solid $theme-color;
    }
}

.header {
    text-align: center;
    h1 {
        font-weight: 400;
        font-size: 2.5em;
        margin: 1rem;
        margin-top: 0em;
        color: $title-color;
    }
    img {
        margin: 0.7em;
    }
}

.footer {
    padding: 1em 2em;
}

a {
    color: $theme-color;
    text-decoration: none;
}

@media only screen and (max-width: $container-width) {
    .side-menu {
        grid-row: 2;
        grid-column: 1;
    }

    .content {
        grid-row: 1;
        grid-column: 1;
    }

    .body-container {
        grid-template-columns: auto;
    }

    .container {
        margin: 1em;
    }
}

.pagination {
    display: inline-block;
    list-style-type: none;
    margin-top: 1em;
    padding: 0.1em;
    border: 1px solid $text-color;
    font-size: 1.2rem;
    li {
        display: inline-block;
        margin: 0;
        padding: 0.1rem;
    }
}

li {
    .active {
        background-color: rgb(185, 185, 185);
    }
    .disabled {
        display: none;
    }
}

#meta {
    padding-top: 1rem;

    h4,h5{
        margin: 0.15em 0em;
    }
}

.center {
	text-align: center;
}
