.TAIform {
  width: 250px;
  flex-grow: 0.25;

  .embeddable-buttondown-form input[type="submit"] {
    background-color: $button-background;
    color: $text-color;
    padding: 0.4rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    text-decoration: none;
    border: none;
  }

  .embeddable-buttondown-form input[type="submit"]:hover {
    color: $background-color;
    background: $theme-color;
  }
}
