$hadopelagic-water: #222;
$endless-galaxy-blue: #444;
$d-darx-blue: #666;
$zhen-zhu-bai-pearl: #f8f8f8;
$rich-blue: #fff;
$rich-blue: #fff;
$malachite-green: #014d00;
$tree-green: #307924;
$bilbao: #337f26;
