<div class="TAIform">
    <h3><span>Thoughts and Ideas</span></h3>
    <span>Subscribe to my collection of internet links, thoughts and ideas, delivered straight to your inbox</span>
    <form action="https://buttondown.email/api/emails/embed-subscribe/ethohampton" method="post" target="popupwindow"
        onsubmit="window.open('https://buttondown.email/ethohampton', 'popupwindow')"
        class="embeddable-buttondown-form">
        <input type="email" name="email" id="bd-email" placeholder="Enter Your Email"></input>
        <input type="hidden" value="1" name="embed"></input>
        <input type="submit" value="Subscribe"></input>
        <input type="hidden" name="tag" value="Website"></input>
    </form>
</div>
